<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to example.com, <%= @user %></h1>
  <p>
    A review has been posted on one of your playlists.<br>
  </p>
  <p>
    To see the review, just follow this link: <%= @url %>.
  </p>
  <p>Thanks for joining and have a great day!</p>
</body>
</html>
