<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to Spotlist, <%= @user %>, where all your dreams come true.</h1>
  <p>
    A review has been posted on one of your playlists.<br>
  </p>
  <p>
    To see the review, <a href="<%= @url %>" target="_blank">click here</a>.
  </p>
  <p>Thanks for joining and have a great day!</p>
</body>
</html>
