<h2>If you are having trouble uploading a playlist to Spotlist, please follow these directions:</h2>
<h4>- Open the Spotify application</h4>
<h4>- Locate your playlists</h4>
<h4>- Select a Playlist by right clicking on it's name</h4>
<h4>- Click on "Copy the Spotify URI" as seen in the picture below</h4>

<%= image_tag "help.png" %>

<h4>- Finally, paste the Spotify URI into the Spotify URI field at <%= link_to "Add a Spotify Playlist", new_playlist_path %></h4>
