<% if @playlist.errors.any? %>
  <div><% @playlist.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
<% end %>

<h2>Fill out the form below to edit your playlist</h2>

<%= render "edit_playlist_form" %>
