<h2>Fill out the form below to add your playlist</h2>

<%= render "new_playlist_form" %>


<h4>If you are having trouble locating your Spotify Playlist's URI, please visit <%= link_to "The Spotlist Help Page", help_path %></h4>
